.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 30px 0;
   

    &.Navbar-blue-dark{
        background-color: rgb(19, 26, 43);
        

        ul, li,a{
            color: #fff!important;
        }
    }

    &.Navbar-white{
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid $gray;
        color: #000;
    }
 
    .navbar-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: 100px;
        }

        ul{
            display: flex;
        
            font-size: 20px;
            font-weight: 400;
            margin: 0;

            li{
                margin-right:50px ;
                
               

                a:hover{
                    color: $red;
                }


                @media(max-width: $tablet-max) {
                    margin-right:30px;
                }
            }

            @media(max-width: $tablet-max) {
                font-size: 16px;
            }

            
            @media(max-width: 450px) {
                display: none;
            }

            

         


        }

       

        span{
            position: relative;

            input{
                padding-left: 40px;
            }

            .search-icon{
                
                color: $red;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translate(0, -50%);
            }

            @media(max-width: $phone-max) {
                display: none;
            }
        }


    }

    
}